{% extends 'core/base_revised.html' %}
{% load static %}

{% block head_stylesheets %}
	<link rel="stylesheet" type="text/css" href="{% static "/core/css/main_revised.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "/home/css/home_revised.css" %}" />
{% endblock %}

{% block default_content %}
	<div class="home-grid-container">
		<div id="about">
			<h1 id="about-title">About Art Glass Unlimited</h1>
			<p class="about-body">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed ullamcorper dui, 
			eu dignissim metus. Sed tincidunt vel nisi a pharetra. Morbi lobortis vitae libero nec dignissim. 
			In ut ultrices velit, sit amet sagittis nibh. Sed id molestie augue. Nunc scelerisque tortor sed eleifend condimentum. 
			Cras vulputate ex id lorem pellentesque, sed tempus tortor aliquet. Vivamus dapibus augue et urna imperdiet dapibus. 
			Ut fringilla faucibus odio, et facilisis metus finibus et. Cras ac pretium justo, nec mattis lorem. 
			Donec semper purus nunc, suscipit finibus eros imperdiet eu. Pellentesque habitant morbi tristique 
			senectus et netus et malesuada fames ac turpis egestas. Nulla mollis vel enim a feugiat. 
			Suspendisse tincidunt nisi sit amet venenatis suscipit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, 
			per inceptos himenaeos.</p>
		
			<p class="about-body">
			Cras quis gravida metus. Donec blandit facilisis felis, a hendrerit libero lobortis sit amet. 
			Mauris in ante in nunc iaculis ultrices at in tellus. Praesent volutpat fermentum elit quis tincidunt. 
			Aenean eros elit, tincidunt ut mauris nec, ultrices sollicitudin purus. Ut sed pharetra dui, sit amet mollis lectus. 
			Integer vel purus et massa tincidunt consequat. Donec sodales, turpis in viverra commodo, quam nisl gravida 
			risus, nec commodo nulla risus et mi. Duis feugiat lacinia scelerisque. Curabitur eget iaculis elit.</p>

			<p class="about-body">
			Vestibulum dignissim ante a lorem feugiat semper. Cras egestas augue massa, sagittis bibendum neque tempor tempor. 
			Phasellus ac arcu felis. Duis eu massa quis purus dapibus porttitor non ut orci. Morbi ac pulvinar tortor, quis luctus ipsum. 
			Vivamus ut tortor ut lacus tincidunt tincidunt. Ut aliquet risus quis imperdiet sollicitudin. In hac habitasse platea dictumst. 
			Curabitur laoreet, ex et dictum convallis, justo lorem volutpat odio, a mollis lacus nunc nec neque. 
			Ut aliquet sapien in sapien consectetur, eget elementum est viverra. Nunc finibus imperdiet volutpat.</p>
		</div> <!-- End of about -->
		<div id="products-link">
			
		</div> <!-- End of products-link -->
	</div> <!-- End of home-grid-container -->
{% endblock %}