{% extends 'core/base.html' %}
{% load static %}

	{% block head_title %}
		<title>AGU | Products</title>
	{% endblock %}

	{% block head_stylesheets %}
		<link rel="stylesheet" type="text/css" href="{% static "/core/css/main.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "/home/css/product.css" %}" />
	{% endblock %}

	{% block body_content %}
	<div id="product-container"></div>
	<div id="contact-us-container">
		<h1>Have Something Else In Mind?</h1>
		<p><a href="{% url 'contact' %}"><span class="focus"><i>Contact Us Now</i></span></a> to create the perfect piece for you!</p>
	</div>
	{% endblock %}

	