/* CSS for contact.css */

/* Ideas: Have a who are we on the left side of page and a quick contacts info on the right. */

.profile_card {
	width: 70%;
	left: 15%;
	margin: 0 auto;
	margin-bottom: 20px;
	height: 400px;
	background-color: green;
}

.profile_picture {
	display: inline-block;
	width: 30%;
	height: 100%;
	background-color: red;
}

.profile_description {
	display: inline-block;
	width: 65%;
	height: 100%;
	float: right;
	background-color: #777;
}