img {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto; }

.product-container {
  width: 100%; }
  .product-container #filter-zone {
    padding: 20px 0px;
    text-align: center; }
    .product-container #filter-zone #glass-type-selector {
      margin: 10px 0px;
      padding: 5px 30%;
      font-size: 1em;
      background-color: white; }
      .product-container #filter-zone #glass-type-selector option {
        font-size: 1em;
        padding: 200px 200px; }
  .product-container .glass-type-area {
    display: none; }
  .product-container .shown-selection {
    display: block; }
  .product-container .type-wrapper {
    position: relative;
    padding-bottom: 20px;
    overflow: hidden; }
  .product-container #glass-type-areas-wrapper {
    width: 100%;
    background-color: #0a0a0a; }
  .product-container #Stained #stained-wrapper {
    margin: 0 auto;
    color: white;
    font-family: Arial;
    text-align: center; }
    .product-container #Stained #stained-wrapper h1 {
      font-size: 1.5em;
      padding: 20px 0px; }
    .product-container #Stained #stained-wrapper p {
      text-align: justify;
      width: 95%;
      padding-bottom: 40px;
      margin: 0 auto;
      line-height: 2em; }
    .product-container #Stained #stained-wrapper #stained-carousel {
      display: flex;
      position: relative;
      width: 100%;
      margin: 0 auto;
      z-index: 0;
      justify-content: center;
      align-items: center; }
      .product-container #Stained #stained-wrapper #stained-carousel .stained-slides {
        display: none;
        position: relative; }
      .product-container #Stained #stained-wrapper #stained-carousel .shown-slide {
        display: block; }
  .product-container #Etched #etched-wrapper {
    margin: 0 auto;
    color: white;
    font-family: Arial;
    text-align: center; }
    .product-container #Etched #etched-wrapper h1 {
      font-size: 1.5em;
      padding: 20px 0px; }
    .product-container #Etched #etched-wrapper p {
      text-align: justify;
      width: 95%;
      padding-bottom: 40px;
      margin: 0 auto;
      line-height: 2em; }
    .product-container #Etched #etched-wrapper #etched-carousel {
      display: flex;
      position: relative;
      width: 100%;
      margin: 0 auto;
      z-index: 0;
      justify-content: center;
      align-items: center; }
      .product-container #Etched #etched-wrapper #etched-carousel .etched-slides {
        display: none;
        position: relative; }
      .product-container #Etched #etched-wrapper #etched-carousel .shown-slide {
        display: block; }
  .product-container #Faceted #faceted-wrapper {
    margin: 0 auto;
    color: white;
    font-family: Arial;
    text-align: center; }
    .product-container #Faceted #faceted-wrapper h1 {
      font-size: 1.5em;
      padding: 20px 0px; }
    .product-container #Faceted #faceted-wrapper p {
      text-align: justify;
      width: 95%;
      height: auto;
      padding-bottom: 40px;
      margin: 0 auto;
      line-height: 2em; }
    .product-container #Faceted #faceted-wrapper #faceted-carousel {
      display: flex;
      position: relative;
      width: 100%;
      margin: 0 auto;
      z-index: 0;
      justify-content: center;
      align-items: center; }
      .product-container #Faceted #faceted-wrapper #faceted-carousel .faceted-slides {
        display: none;
        position: relative; }
      .product-container #Faceted #faceted-wrapper #faceted-carousel .shown-slide {
        display: block; }
  .product-container .prev, .product-container .next {
    cursor: pointer;
    position: absolute;
    top: 47%;
    padding: 10px;
    font-size: 18px;
    color: #f3f3f3;
    font-weight: bold;
    user-select: none;
    background-color: rgba(10, 10, 10, 0.9); }
  .product-container .prev {
    left: 0; }
  .product-container .next {
    right: 0; }
  .product-container .counter {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px 20px;
    background-color: rgba(0, 0, 0, 0.5); }
    .product-container .counter * {
      display: inline; }
  .product-container .clearfix {
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .product-container #contact-link {
    width: 100%;
    margin-top: 30px;
    text-align: center; }
    .product-container #contact-link h1 {
      font-size: 1.5em;
      padding-bottom: 30px;
      width: 90%;
      margin: 0 auto; }
    .product-container #contact-link p {
      font-size: 1em;
      width: 90%;
      margin: 0 auto;
      line-height: 2em; }
  .product-container a {
    text-decoration: none; }
  .product-container .clickable {
    user-select: none;
    padding: 12px 20px;
    color: #f3f3f3;
    border-radius: 20px;
    background-color: #006FFF; }

@media (min-width: 1200px) {
  #glass-type-areas-wrapper {
    width: 100%;
    min-height: 500px;
    background-color: #0a0a0a; }

  .glass-desc {
    display: inline-block;
    float: left;
    max-width: 35%;
    padding-left: 2.5%;
    padding-bottom: 0px;
    line-height: 2em; }

  .product-carousel {
    display: inline-block;
    float: right;
    max-width: 55%;
    height: 450px;
    right: 2.5%; } }

/*# sourceMappingURL=products.css.map */
