// Blue
$base-blue: rgba(60, 145, 230, 1);
// Grey
$base-grey: rgba(70, 79, 81, 1);
// Black
$base-black: rgba(28, 35, 33, 1);
// Red
$base-red: rgba(254, 74, 73, 1);
// White
$base-white: rgba(255, 255, 255, 1);