/* --------------------------------------------
:: Stylesheet for base_revised.html
-------------------------------------------- */

@import "variables";
$header-height: 50px;
$footer-height: 170px;

@font-face {
	font-family: Damion;
	src: url('../font/damion-regular.ttf');
}

h1 {
	font-family: Damion, Arial;
}

html {
	min-width: 100%;
	min-height: 100%;
}

body {
	min-width: 100%;
	min-height: 100%;
}

.grid-container {
	display: grid;
	display: -ms-grid;
	grid-template:
		"header"
		"content-wrapper"
		"footer";
	-ms-grid-template:
		"header"
		"content-wrapper"
		"footer";
	width: 100%;
	min-width: 100%;
	height: 100%;
}

.header {
	grid-area: "header";
	-ms-grid-area: "header";
	display: grid;
	display: -ms-grid;
	grid-template: "logo nav";
	-ms-grid-template: "logo nav";
	position: fixed;
	width: 100%;
	min-width: 100%;
	height: $header-height;
	border-bottom: 1px solid $base-grey;
	background-color: $base-white;
	z-index: 9999;

	.logo {
		grid-area: "logo";
		-ms-grid-area: "logo";
		min-width: 300px;

		h1 {
			font-family: Arial;
			font-size: 26px !important;
			text-align: center;
			line-height: $header-height;
		}
	}

	.nav {
		grid-area: "nav";
		-ms-grid-area: "nav";
		min-width: 50px;

		#dropdown-nav {
			display: block;
			height: $header-height;
			margin: 0 auto;
			border: none;
			background-color: inherit;

			.burger-patty {
				width: 30px;
	    		height: 4px;
	   		 	background-color: $base-black;
	    		margin: 6px 0;
			}
	
			.first-patty {
				margin: 12px 0px 6px 0px;
			}
		}

		#nav-well {
			display: none;
			width: 300px;
			height: $header-height;
			float: right;
			padding-right: 15%;
		
			ul {
				display: flex;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
		
			li {
				flex: 1;
		
				a {
					display: block;
		   			text-align: center;
		    		padding: ($header-height / 2 - 10);
		    		text-decoration: none;
					font-family: Arial;
					color: $base-black;
				}
		
				#home-nav:hover {
					background-color: rgba($base-blue, 0.2);
					border-bottom: 6px solid $base-blue;
				}
		
				#products-nav:hover {
					background-color: rgba($base-blue, 0.2);
					border-bottom: 6px solid $base-blue;
				}
		
				#contact-nav:hover {
					background-color: rgba($base-blue, 0.2);
					border-bottom: 6px solid $base-blue;
				}
			}
		}
	
		#dropdown-nav-menu {
			display: none;
			position: fixed;
			top: $header-height;
			right: 0;
			min-width: 100px;
			border: 1px solid $base-black;
			background-color: white;
			z-index: 10000;

			ul {
				list-style-type: none;	

				li {
					text-align: center;
					border-bottom: 1px solid $base-black;
						
					a {
						display: block;
						font-family: Arial;
						text-decoration: none;
						color: $base-black;
						padding: 10px 0px;
					}	

					a:hover {
						background-color: $base-grey;
						color: white;
					}
				}
			}
		}
	}
}


.content-wrapper {
	grid-area: "content-wrapper";
	-ms-grid-area: "content-wrapper";
	min-height: 100vh;

	.content {
		width: 100%;
		margin-top: $header-height;
		margin-bottom: $footer-height;
	}
}

.footer {
	display: grid;
	display: -ms-grid;
	grid-area: "footer";
	-ms-grid-area: "footer";
	grid-template: 
		"ownership" "quick-links" ;
	-ms-grid-template: 
		"ownership" "quick-links" ;
	min-height: $footer-height;
	border-top: 1px solid $base-grey;
	margin-top: -$footer-height;
	background-color: $base-white;
	z-index: 999;

	#ownership-contact {
		grid-area: "ownership";
		-ms-grid-area: "ownership";
		height: $footer-height;
		text-align: left;
		font-family: Arial;
		padding-left: 20px;

		#theirs {
			font-size: 14px;
			padding-top: .1 * $footer-height;
			line-height: .1 * $footer-height;
		}

		#copyright-tag {
			font-size: 14px;
			padding-top: .1 * $footer-height;
			line-height: .1 * $footer-height;
		}

		#mine {
			color: $base-grey;
			font-size: 12px;
			padding-top: .15 * $footer-height;
			line-height: .1 * $footer-height;
		}
	}

	#quick-links {
		grid-area: "quick-links";
		-ms-grid-area: "quick-links";
		text-align: left;
		font-family: Arial;
		padding-left: 20px;
		padding-bottom: 10px;

		ul {
			list-style-type: none;
			line-height: 26px;

			li {
				font-size: 12px;
			}

			li:first-child {
				text-decoration: underline;
				font-weight: bold;
				font-size: 14px;
			}

			a {
				text-decoration: none;
				color: $base-black;
			}
		}
	}
}

@media (min-width: 700px) {
	#dropdown-nav {
		display: none !important;
	}

	#nav-well {
		display: block !important;
	}
}