/* CSS for core/base.html */

$primary-color: #005663;
$secondary-color: #66ffcc;
$backup-color: #f48942;
$mygray: #999999;
$header-height: 200px;
$footer-height: 100px;
$footer-and-margin-height: 125px;

html {
	height: 100%;
}

body {
	min-height: 100%;
}

header {
	position: relative;
	height: $header-height;
	margin-top: -$header-height;
	background-color: $primary-color;
	color: #fff;
}

nav {
	width: 70%;
	left: 15%;
	height: 40px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	background-color: #fff;
	box-shadow: 0px 3px 5px #888
}

nav ul {
	display: flex;
	height: 100%;
}

li {
	flex-grow: 1;
	text-align: center;
	border-right: 1px solid black;
}

li:last-child {
	border: none;
}

li a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	font-family: Arial;
	align-items: center;
	color: #333;
}

li a:hover {
	background-color: $primary-color;
	color: #fff;
}

#logo {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

#logo-placeholder {
	font-family: sans-serif;
	font-size: 50px;
}

#wrapper{
	padding: $header-height 0 $footer-height;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#body_content_wrapper {
	min-height: 100%;
	padding-top: 25px;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: $footer-and-margin-height;
}

footer {
	width: 100%;
	height: $footer-height;
	margin-top: -100px;
	background-color: $primary-color;
}

#contact_info {
	padding-top: 10px;
	font-family: sans-serif;
	color: #fff;
	text-align: center;
}

#agu_info {
	font-size: 12px;
	padding-top: 5px;
}

#my_info {
	font-size: 10px;
	padding-top: 20px;
	color: $mygray;
}
