/* --------------------------------------------
:: Stylesheet for base_revised.html
-------------------------------------------- */

$header-height: 70px;
$footer-height: 170px;

html {
	min-width: 100%;
	min-height: 100%;
}

body {
	min-width: 100%;
	min-height: 100%;
}

.grid-container {
	display: grid;
	grid-template:
		"header"
		"content-wrapper"
		"footer";
	width: 100%;
	min-width: 100%;
	height: 100%;
}

.header {
	grid-area: "header";
	display: grid;
	grid-template: "logo nav";
	position: fixed;
	width: 100%;
	min-width: 100%;
	height: $header-height;
	border-bottom: 2px solid black;
	background-color: #ddd;

	.logo {
		grid-area: "logo";
		min-width: 300px;

		h1 {
			font-family: Arial;
			font-size: 26px;
			text-align: center;
			line-height: $header-height;
		}
	}

	.nav {
		grid-area: "nav";
		min-width: 50px;

		#dropdown-nav {
			display: block;
			height: $header-height;
			margin: 0 auto;
			border: none;
			background-color: inherit;

			.burger-patty {
				width: 30px;
	    		height: 4px;
	   		 	background-color: black;
	    		margin: 6px 0;
			}
	
			.first-patty {
				margin: 12px 0px 6px 0px;
			}
		}

		#dropdown-nav-menu {
			display: none;
			position: fixed;
			top: $header-height;
			right: 0;
			min-width: 100px;
			border: 1px solid black;
			background-color: white;

			ul {
				list-style-type: none;	

				li {
					text-align: center;
					border-bottom: 1px solid black;
						
					a {
						display: block;
						font-family: Arial;
						text-decoration: none;
						color: black;
						padding: 10px 0px;
					}	

					a:hover {
						background-color: #AAAAAA;
					}
				}
			}
		}
	}
}


.content-wrapper {
	grid-area: "content-wrapper";
	min-height: 100vh;

	.content {
		width: 100%;
		margin-top: $header-height;
		margin-bottom: $footer-height;
	}
}

.footer {
	display: grid;
	grid-area: "footer";
	grid-template: 
		"ownership" "quick-links" ;
	min-height: $footer-height;
	border-top: 2px solid black;
	margin-top: -$footer-height;
	background-color: #ddd;

	#ownership-contact {
		grid-area: "ownership";
		height: $footer-height;
		text-align: left;
		font-family: Arial;
		padding-left: 20px;

		#theirs {
			font-size: 14px;
			padding-top: .1 * $footer-height;
			line-height: .1 * $footer-height;
		}

		#copyright-tag {
			font-size: 14px;
			padding-top: .1 * $footer-height;
			line-height: .1 * $footer-height;
		}

		#mine {
			color: #777;
			font-size: 12px;
			padding-top: .15 * $footer-height;
			line-height: .1 * $footer-height;
		}
	}

	#quick-links {
		grid-area: "quick-links";
		text-align: left;
		font-family: Arial;
		padding-left: 20px;
		padding-bottom: 10px;

		ul {
			list-style-type: none;
			line-height: 26px;

			li {
				font-size: 12px;
			}

			li:first-child {
				text-decoration: underline;
				font-weight: bold;
				font-size: 14px;
			}

			a {
				text-decoration: none;
				color: black;
			}
		}
	}
}