<!DOCTYPE html>
{% load static %}

{% block html_tag %}
	<html lang='en'>
{% endblock %}

	<head>
		{% block head_defaultContent %}
			
			{% block head_charset %}
				<meta charset="utf-8" />
			{% endblock %}
			
			{% block head_title %}
			{% endblock %}

			{% block head_resetsheet %}
				<link rel="stylesheet" type="text/css" href="{% static "/core/css/reset.css" %}" />
			{% endblock %}

			{% block head_stylesheets %}
				<link rel="stylesheet" type="text/css" href="{% static "/core/css/main.css" %}" />
			{% endblock %}

			{% block head_javascript %}
				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
				<script type="text/javascript" src="{% static "/core/js/navigation.js" %}"></script>
			{% endblock %}

			{% block head_meta %}
				<meta name="viewport" content="width=device-width, initial-scale=1" />
				<meta name="viewport" content="initial-scale=1" />
			{% endblock %}
			
		{% endblock %}
	</head>

	<body>
		{% block default_content %}
		{% endblock %}
	</body>	

</html>