<!DOCTYPE html>
{% load static %}

{% block html_tag %}
	<html lang='en'>
{% endblock %}

	<head>
		{% block head_defaultContent %}
			
			{% block head_charset %}
				<meta charset="utf-8" />
			{% endblock %}
			
			{% block head_title %}
			{% endblock %}

			{% block head_resetsheet %}
				<link rel="stylesheet" type="text/css" href="{% static "/core/css/reset.css" %}" />
			{% endblock %}

			{% block head_stylesheets %}
				<link rel="stylesheet" type="text/css" href="{% static "/core/css/main.css" %}" />
			{% endblock %}

			{% block head_javascript %}
				<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
				<script type="text/javascript" src="{% static "/core/js/navigation.js" %}"></script>
			{% endblock %}

		{% endblock %}
	</head>

	<body>
		<div id="page-wrapper">
		{% block page_header %}
			<div id="header">
				<div id="logo-well">
					<a href="{% url 'home' %}" id="logo">Art Glass Unlimited</a>	
				</div> <!-- End of logo-well -->
				<div id="nav-well">
					<ul>
						<li><a id="home-nav" href="{% url 'home' %}">Home</a></li>
						<li><a id="products-nav" href="{% url 'products' %}">Products</a></li>
						<li><a id="contact-nav" href="{% url 'contact' %}">Contact</a></li>
					</ul>	
				</div> <!-- End of nav-well -->
				<button id="dropdown-nav" onclick="showAndHideMenu()">
					<div class="burger-patty first-patty"></div>
					<div class="burger-patty"></div>
					<div class="burger-patty"></div>
				</button> <!-- End of dropdown-nav -->
			</div> <!-- End of header -->
			<div id="dropdown-nav-menu">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'products' %}">Products</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>	
			</div> <!-- End of dropdown-nav-menu -->
			<div id="extended-nav">
				<ul>
					<li><a href="{% url 'home' %}">Home</a></li>
					<li><a href="{% url 'products' %}">Products</a></li>
					<li><a href="{% url 'contact' %}">Contact</a></li>
				</ul>
			</div> <!-- End of extended-nav -->
		{% endblock %}

			<div id="content-wrapper">
				<div id="content">
				{% block body_content %}
				{% endblock %}
				</div> <!-- End of content -->
			</div> <!-- End of content-wrapper -->

		{% block page_footer %}
			<div id="footer">
				<div id="property-well">
					<p id="agu">Located in Pacific, MO | Owned by Gerald Mowery</p>
					<p id="mine">Website created by Ryan Stoughton</p>
				</div>

				<div id="around-the-web-well">
					<p>Catch Art Glass Unlimited Around the Web!</p>
				</div> <!-- End of around-the-web-well -->
			</div> <!-- End of footer -->
		{% endblock %}

		</div> <!-- End of page-wrapper -->
	</body>	

</html>