/* CSS for core/base.html */
html {
	background-color: #005663;
}

header {
	width: 100%;
	height: 200px;
	position: relative;
	background-color: #005663;
	color: #FFF;
}

nav {
	width: 70%;
	left: 15%;
	height: 40px;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	background-color: #FFF;
	box-shadow: 0px 2px 5px #888
}

nav ul {
	display: flex;
	height: 100%;
}

li {
	flex-grow: 1;
	text-align: center;
	border-right: 1px solid black;
}

li:last-child {
	border: none;
}

li a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-decoration: none;
	font-family: Arial;
	align-items: center;
	color: #333;
}

li a:hover {
	background-color: #005663;
	color: #fff;
}

#wrapper{
	position: relative;
}

#body_content_wrapper {
	min-height: 480px;
	padding-top: 10px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #FFF;
}

#logo {
	display: inline-block;
	width: 100%;
	text-align: center;
	padding-top: 50px;
}

#logo-placeholder {
	font-family: sans-serif;
	font-size: 50px;
}

#footer {
	width: 100%;
	height: 100px;
	position: absolute;
	bottom: 0;
	background-color: #005663;
}

#contact_info {
	padding-top: 10px;
	font-family: sans-serif;
	color: #fff;
	text-align: center;
}

#agu_info {
	font-size: 12px;
	padding-top: 5px;
}

#my_info {
	font-size: 10px;
	padding-top: 20px;
	color: #999;
}