@import "../../../../core/static/core/sass/variables";
 
.contact-container {
	width: 100%;

	#location {
		width: 100%;

		h1 {
			font-size: 1.5em;
			text-align: center;
			padding: 20px 0px;
		}

		#google-map {
			width: 100%;
			height: 400px;
			background: $base-grey;
		}

		p {
			line-height: 2em;
			text-align: center;
			padding: 20px 0px;
		}
	}

	#availability {
		
		h1 {
			font-size: 1.5em;
			text-align: center;
			padding: 20px 0px;
		}

		table {
		margin: 0 auto;		
		line-height: 26px;

			tr > td:first-child {
				text-align: left;
				padding-right: 50px;
			}
		}

		#holiday-clause {
			padding-top: 20px;
			text-align: center;
		}
	}
}