.home-grid-container {
	width: 100%;
	min-height: 800px;
	display: grid;
	grid-template: 
		"about"
		"products-link" ;

	#about {
		grid-area: "about";	
		padding-top: 25px;
		text-align: center;

		#about-title {
			font-family: Arial;
			font-size: 36px;
		}

		.about-body {
			padding: 20px 10px;
   			font-family: Arial;
    		font-size: 16px;
    		line-height: 30px;
    		text-align: center;
		}
	}

	#products-link {
		width: 100%;
    	min-height: 100px;
    	padding-top: 20px;
    	padding-bottom: 20px;
    	text-align: center;

		h1 {
		    padding-top: 10px;
		    padding-bottom: 10px;
		    font-size: 36px;
		    font-family: Times;
		}
		
		p {
		    padding-top: 10px;
		    font-size: 16px;
		    font-family: Arial, Helvetica, sans-serif;
		    line-height: 30px;
		}
		
		p > a {
		    text-decoration: none;
		    color: black;
		    user-select: none;
		}
		
		.focus {
		    user-select: none;
		    padding: 10px;
		    margin-right: 5px;
		    font-weight: bold;
		    border: 1px solid #bbb;
		}
		
		.focus:hover {
		    background-color: #aaa;
		    border: 1px solid black;
		}
	}
}

