
@font-face {
	font-family: Damion;
	src: url('../../../../core/static/core/font/damion-regular.ttf');
}

h1 {
	font-family: Damion, Arial !important;
	font-size: 48px !important;
}

img {
	max-width: 100%;
	max-height: 100%;
}

 .home-grid-container {
	width: 100%;
	max-width: 1000px;
	display: grid;
	grid-template: 
		"about"
		"products-link" ;
	margin: 0 auto;

	#about {
		grid-area: "about";	
		padding-top: 25px;
		text-align: center;

		#about-title {
			font-family: Arial;
			font-size: 36px;
		}

		.about-body {
			padding: 20px 10px;
   			font-family: Arial;
    		font-size: 16px;
    		line-height: 30px;
    		width: 90%;
    		text-align: justify;
    		margin: 0 auto;
		}
	}

	#products-link {
		width: 100%;
    	min-height: 100px;
    	padding-top: 20px;
    	padding-bottom: 20px;
    	text-align: center;

		h1 {
		    padding-top: 10px;
		    padding-bottom: 10px;
		    font-size: 36px;
		    font-family: Times;
		}
		
		p {
		    padding-top: 10px;
		    font-size: 16px;
		    font-family: Arial, Helvetica, sans-serif;
		    line-height: 30px;
		}
		
		p > a {
		    text-decoration: none;
		    color: black;
		    user-select: none;
		}
		
		.focus {
		    user-select: none;
		    padding: 10px;
		    margin-right: 5px;
		    font-weight: bold;
		    border: 1px solid #bbb;
		}
		
		.focus:hover {
		    background-color: #aaa;
		    border: 1px solid black;
		}
	}
}

.picture-spot {
	position: relative;
	width: 90%;
	margin: 0 auto;
	z-index: 0;
	background-color: #777;
}
