$max-mobile-width: 1000px;
$glass-type-header-size: 36px;
$glass-type-paragraph-size: 16px;
$glass-type-paragraph-line-height: 30px;

@font-face {
	font-family: Damion;
	src: url('../../../../core/static/core/font/damion-regular.ttf');
}

h1 {
	font-family: Damion, Arial !important;
	font-size: 48px !important;
}

img {
	max-width: 100%;
	max-height: 100%;
	margin: 0 auto;
}

.product-container {
	width: 100%;

	#filter-zone {
		padding: 20px 0px;
		text-align: center;

		#glass-type-selector {
			margin: 10px 0px;
			padding: 5px 30%;
			background-color: white;
		}
	}

	.glass-type-area {
		display: none;
	}

	.shown-selection {
		display: block;
	}

	.type-wrapper {
		padding: 20px 0px;
	}

	#glass-type-areas-wrapper {
		width: 100%;
		background-color: black;
	}

	#Stained {

		#stained-wrapper {
			max-width: $max-mobile-width;
			// min-height: 400px;
			margin: 0 auto;
			// background-color: #555;
			color: white;
			font-family: Arial;
			text-align: center;

			h1 {
				font-size: $glass-type-header-size;
				padding-bottom: 20px;
			}

			p {
				text-align: justify;
				font-size: $glass-type-paragraph-size;
				line-height: $glass-type-paragraph-line-height;
				width: 90%;
				max-width: $max-mobile-width;
				padding-bottom: 40px;
				margin: 0 auto;
			}

			#stained-carousel {
				position: relative;
				width: 90%;
				max-width: $max-mobile-width;
				margin: 0 auto;
				z-index: 0;

				.stained-slides {
					display: none;
				}

				.shown-slide {
					display: block;
				}
			}
		}
	}

	#Etched {
		
		#etched-wrapper {
			max-width: $max-mobile-width;
			// min-height: 400px;
			margin: 0 auto;
			// background-color: #555;
			color: white;
			font-family: Arial;
			text-align: center;

			h1 {
				font-size: $glass-type-header-size;
				padding-bottom: 20px;
			}

			p {
				text-align: justify;
				font-size: $glass-type-paragraph-size;
				line-height: $glass-type-paragraph-line-height;
				width: 90%;
				max-width: $max-mobile-width;
				padding-bottom: 40px;
				margin: 0 auto;
			}

			#etched-carousel {
				position: relative;
				width: 90%;
				max-width: $max-mobile-width;
				margin: 0 auto;
				z-index: 0;

				.etched-slides {
					display: none;
				}

				.shown-slide {
					display: block;
				}
			}
		}
	}

	#Faceted {

		#faceted-wrapper {
			max-width: $max-mobile-width;
			// min-height: 400px;
			margin: 0 auto;
			// background-color: #555;
			color: white;
			font-family: Arial;
			text-align: center;

			h1 {
				font-size: $glass-type-header-size;
				padding-bottom: 20px;
			}

			p {
				text-align: justify;
				font-size: $glass-type-paragraph-size;
				line-height: $glass-type-paragraph-line-height;
				width: 90%;
				max-width: $max-mobile-width;
				padding-bottom: 40px;
				margin: 0 auto;
			}

			#faceted-carousel {
				position: relative;
				width: 90%;
				max-width: $max-mobile-width;
				margin: 0 auto;
				z-index: 0;

				.faceted-slides {
					display: none;
				}

				.shown-slide {
					display: block;
				}
			}
		}
	}

	#repair {
		font-family: Arial;
		text-align: center;
		padding: 20px 0px;

		h1 {
			padding-bottom: 20px;
		}

		p {
			text-align: justify;
			font-size: 16px;
			width: 90%;
			max-width: $max-mobile-width;
			margin: 0 auto;
			line-height: 30px;
		}
	}

	#contact-us-container {
	    padding-top: 20px;
	    padding-bottom: 20px;
	    width: 100%;
	    min-height: 100px;
	}
	
	#contact-us-container > h1 {
	    padding-top: 10px;
	    padding-bottom: 10px;
	    font-family: Times;
	    font-size: 36px;
	    color: black;
	    text-align: center;
	}
	
	#contact-us-container > p {
	    padding-top: 10px;
	    font-family: Arial;
	    font-size: 16px;
	    color: black;
	    text-align: center;
	    line-height: 30px;
	}
	
	#contact-us-container > p > a {
	    text-decoration: none;
	    color: black;
	}

	.focus {
	    user-select: none;
	    padding: 10px;
	    margin-right: 5px;
	    font-weight: bold;
	    border: 1px solid #bbb;
	}

	.focus:hover {
	    background-color: #aaa;
	    border: 1px solid black;
	}

	.prev, .next {
	    cursor: pointer;
	    position: absolute;
	    top: 47%;
	    padding: 10px;
	    font-size: 18px;
	    color: white;
	    font-weight: bold;
	    user-select: none;
	}
	
	.prev:hover, .next:hover {
	    background-color: rgba(0,0,0,0.5);
	}
	
	.prev {
	    left: 0;
	}
	
	.next {
	    right: 0;
	}

	.counter {
		display: inline-block;
		position: absolute;
		bottom: 0;
		left: 50%;
   		transform: translateX(-50%);
		padding: 6px 20px;
		background-color: rgba(0,0,0,0.5);

		* {
			display: inline;
		}
	}
}