/* CSS for home/products.html */

$primary-color: #AA00FF;
$secondary-color: #4499AA;
$tertiary-color: #00F000;
$header-height: 70px;
$extended-nav-height: 40px;
$footer-height: 100px;
$logo-width: 300px;
$nav-width: 400px;
$minimum-width: 370px;
$header-collapse-breakpoint: 800px;
$header-dropdown-breakpoint: $minimum-width;

@font-face {
	font-family: Damion;
	src: url('../../../../core/static/core/font/damion-regular.ttf');
}

#product-container {
    width: 100%;
    min-height: 800px;
    background-color: #bf0000;
}

#contact-us-container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    min-height: 100px;
}

#contact-us-container > h1 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Damion;
    font-size: 48px;
    color: black;
    text-align: center;
}

#contact-us-container > p {
    padding-top: 10px;
    font-family: Arial;
    font-size: 16px;
    color: black;
    text-align: center;
    line-height: 30px;
}

#contact-us-container > p > a {
    text-decoration: none;
    color: black;
}

.focus {
    user-select: none;
    padding: 10px;
    margin-right: 5px;
    font-weight: bold;
    border: 1px solid #bbb;
}

.focus:hover {
    background-color: #aaa;
    border: 1px solid black;
}